In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('zap.csv', sep='|')

In [5]:
data.head()

,Rent,Address,Street,Neighborhood,Area,Rooms,Bathrooms,Parking
0,\n R$ 32.000\n /mês,"Rua Marquês de São Vicente, Gávea",Rua Marquês de São Vicente,Gávea,\n 288 m²\n,0,0,5
1,\n R$ 4.000\n /mês,"Rua Uruguaiana, Centro",Rua Uruguaiana,Centro,\n 364 m²\n,0,2,0
2,\n R$ 6.000\n /mês,"Rua Ministro Ramos Monteiro, Leblon",Rua Ministro Ramos Monteiro,Leblon,\n 101 m²\n,3,3,1
3,\n R$ 1.100\n /mês,"Rua Conde de Porto Alegre, Rocha",Rua Conde de Porto Alegre,Rocha,\n 50 m²\n,1,1,0
4,\n R$ 1.450\n /mês,"Estrada Bougainville, Itanhangá",Estrada Bougainville,Itanhangá,\n 130 m²\n,2,1,2

In [6]:
for i in range(0, len(data['Rent'])):
    data['Rent'][i] = data['Rent'][i].replace('\n', "")

/home/renata/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
data.head()

,Rent,Address,Street,Neighborhood,Area,Rooms,Bathrooms,Parking
0,R$ 32.000 /mês,"Rua Marquês de São Vicente, Gávea",Rua Marquês de São Vicente,Gávea,\n 288 m²\n,0,0,5
1,R$ 4.000 /mês,"Rua Uruguaiana, Centro",Rua Uruguaiana,Centro,\n 364 m²\n,0,2,0
2,R$ 6.000 /mês,"Rua Ministro Ramos Monteiro, Leblon",Rua Ministro Ramos Monteiro,Leblon,\n 101 m²\n,3,3,1
3,R$ 1.100 /mês,"Rua Conde de Porto Alegre, Rocha",Rua Conde de Porto Alegre,Rocha,\n 50 m²\n,1,1,0
4,R$ 1.450 /mês,"Estrada Bougainville, Itanhangá",Estrada Bougainville,Itanhangá,\n 130 m²\n,2,1,2

In [8]:
for i in range(0, len(data['Rent'])):
    data['Rent'][i] = data['Rent'][i].replace('R$', "")
    data['Rent'][i] = data['Rent'][i].replace('/mês', "")

/home/renata/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/renata/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
for i in range(0, len(data['Rent'])):
    data['Rent'][i] = data['Rent'][i].strip()

/home/renata/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
data['Rent'][0]

'32.000'

In [14]:
for i in range(0, len(data['Area'])):
    data['Area'][i] = data['Area'][i].replace('\n', "")
    data['Area'][i] = data['Area'][i].replace('m²', "")
    data['Area'][i] = data['Area'][i].strip()

/home/renata/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/renata/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/renata/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
data['Area'][0]

'288'

In [16]:
data['Street'][0]

'Rua Marquês de São Vicente'

In [17]:
data['Neighborhood'][0]

' Gávea'

In [19]:
for i in range(0, len(data['Neighborhood'])):
    data['Neighborhood'][i] = data['Neighborhood'][i].strip()

/home/renata/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
data['Neighborhood'][0]

'Gávea'